@font-face {
  font-family: 'ei-icons';
  src:  url('../icons/ei-icons.eot?by2y3y');
  src:  url('../icons/ei-icons.eot?by2y3y#iefix') format('embedded-opentype'),
    url('../icons/ei-icons.ttf?by2y3y') format('truetype'),
    url('../icons/ei-icons.woff?by2y3y') format('woff'),
    url('../icons/ei-icons.svg?by2y3y#ei-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ei-icon--"], [class*=" ei-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ei-icons', sans-serif !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ei-icon--activity:before {
  content: "\e900";
}
.ei-icon--airplay:before {
  content: "\e901";
}
.ei-icon--alert-circle:before {
  content: "\e902";
}
.ei-icon--alert-octagon:before {
  content: "\e903";
}
.ei-icon--alert-triangle:before {
  content: "\e904";
}
.ei-icon--align-center:before {
  content: "\e905";
}
.ei-icon--align-justify:before {
  content: "\e906";
}
.ei-icon--align-left:before {
  content: "\e907";
}
.ei-icon--align-right:before {
  content: "\e908";
}
.ei-icon--anchor:before {
  content: "\e909";
}
.ei-icon--aperture:before {
  content: "\e90a";
}
.ei-icon--archive:before {
  content: "\e90b";
}
.ei-icon--arrow-down-circle:before {
  content: "\e90c";
}
.ei-icon--arrow-down-left:before {
  content: "\e90d";
}
.ei-icon--arrow-down-right:before {
  content: "\e90e";
}
.ei-icon--arrow-down:before {
  content: "\e90f";
}
.ei-icon--arrow-left-circle:before {
  content: "\e910";
}
.ei-icon--arrow-left:before {
  content: "\e911";
}
.ei-icon--arrow-right-circle:before {
  content: "\e912";
}
.ei-icon--arrow-right:before {
  content: "\e913";
}
.ei-icon--arrow-up-circle:before {
  content: "\e914";
}
.ei-icon--arrow-up-left:before {
  content: "\e915";
}
.ei-icon--arrow-up-right:before {
  content: "\e916";
}
.ei-icon--arrow-up:before {
  content: "\e917";
}
.ei-icon--at-sign:before {
  content: "\e918";
}
.ei-icon--award:before {
  content: "\e919";
}
.ei-icon--bar-chart-2:before {
  content: "\e91a";
}
.ei-icon--bar-chart:before {
  content: "\e91b";
}
.ei-icon--battery-charging:before {
  content: "\e91c";
}
.ei-icon--battery:before {
  content: "\e91d";
}
.ei-icon--bell-off:before {
  content: "\e91e";
}
.ei-icon--bell:before {
  content: "\e91f";
}
.ei-icon--bluetooth:before {
  content: "\e920";
}
.ei-icon--bold:before {
  content: "\e921";
}
.ei-icon--book-open:before {
  content: "\e922";
}
.ei-icon--book:before {
  content: "\e923";
}
.ei-icon--bookmark:before {
  content: "\e924";
}
.ei-icon--box:before {
  content: "\e925";
}
.ei-icon--briefcase:before {
  content: "\e926";
}
.ei-icon--calendar:before {
  content: "\e927";
}
.ei-icon--camera-off:before {
  content: "\e928";
}
.ei-icon--camera:before {
  content: "\e929";
}
.ei-icon--cast:before {
  content: "\e92a";
}
.ei-icon--check-circle:before {
  content: "\e92b";
}
.ei-icon--check-square:before {
  content: "\e92c";
}
.ei-icon--check:before {
  content: "\e92d";
}
.ei-icon--chevron-down:before {
  content: "\e92e";
}
.ei-icon--chevron-left:before {
  content: "\e92f";
}
.ei-icon--chevron-right:before {
  content: "\e930";
}
.ei-icon--chevron-up:before {
  content: "\e931";
}
.ei-icon--chevrons-down:before {
  content: "\e932";
}
.ei-icon--chevrons-left:before {
  content: "\e933";
}
.ei-icon--chevrons-right:before {
  content: "\e934";
}
.ei-icon--chevrons-up:before {
  content: "\e935";
}
.ei-icon--chrome:before {
  content: "\e936";
}
.ei-icon--circle:before {
  content: "\e937";
}
.ei-icon--clipboard:before {
  content: "\e938";
}
.ei-icon--clock:before {
  content: "\e939";
}
.ei-icon--cloud-drizzle:before {
  content: "\e93a";
}
.ei-icon--cloud-lightning:before {
  content: "\e93b";
}
.ei-icon--cloud-off:before {
  content: "\e93c";
}
.ei-icon--cloud-rain:before {
  content: "\e93d";
}
.ei-icon--cloud-snow:before {
  content: "\e93e";
}
.ei-icon--cloud:before {
  content: "\e93f";
}
.ei-icon--code:before {
  content: "\e940";
}
.ei-icon--codepen:before {
  content: "\e941";
}
.ei-icon--coffee:before {
  content: "\e942";
}
.ei-icon--command:before {
  content: "\e943";
}
.ei-icon--compass:before {
  content: "\e944";
}
.ei-icon--copy:before {
  content: "\e945";
}
.ei-icon--corner-down-left:before {
  content: "\e946";
}
.ei-icon--corner-down-right:before {
  content: "\e947";
}
.ei-icon--corner-left-down:before {
  content: "\e948";
}
.ei-icon--corner-left-up:before {
  content: "\e949";
}
.ei-icon--corner-right-down:before {
  content: "\e94a";
}
.ei-icon--corner-right-up:before {
  content: "\e94b";
}
.ei-icon--corner-up-left:before {
  content: "\e94c";
}
.ei-icon--corner-up-right:before {
  content: "\e94d";
}
.ei-icon--cpu:before {
  content: "\e94e";
}
.ei-icon--credit-card:before {
  content: "\e94f";
}
.ei-icon--crop:before {
  content: "\e950";
}
.ei-icon--crosshair:before {
  content: "\e951";
}
.ei-icon--database:before {
  content: "\e952";
}
.ei-icon--delete:before {
  content: "\e953";
}
.ei-icon--disc:before {
  content: "\e954";
}
.ei-icon--dollar-sign:before {
  content: "\e955";
}
.ei-icon--download-cloud:before {
  content: "\e956";
}
.ei-icon--download:before {
  content: "\e957";
}
.ei-icon--droplet:before {
  content: "\e958";
}
.ei-icon--edit-2:before {
  content: "\e959";
}
.ei-icon--edit-3:before {
  content: "\e95a";
}
.ei-icon--edit:before {
  content: "\e95b";
}
.ei-icon--external-link:before {
  content: "\e95c";
}
.ei-icon--eye-off:before {
  content: "\e95d";
}
.el-icon-view:before,
.ei-icon--eye:before {
  content: "\e95e" !important;
  font-family: "ei-icons", sans-serif;
}
.ei-icon--facebook:before {
  content: "\e95f";
}
.ei-icon--fast-forward:before {
  content: "\e960";
}
.ei-icon--feather:before {
  content: "\e961";
}
.ei-icon--file-minus:before {
  content: "\e962";
}
.ei-icon--file-plus:before {
  content: "\e963";
}
.ei-icon--file-text:before {
  content: "\e964";
}
.ei-icon--file:before {
  content: "\e965";
}
.ei-icon--film:before {
  content: "\e966";
}
.ei-icon--filter:before {
  content: "\e967";
}
.ei-icon--flag:before {
  content: "\e968";
}
.ei-icon--folder-minus:before {
  content: "\e969";
}
.ei-icon--folder-plus:before {
  content: "\e96a";
}
.ei-icon--folder:before {
  content: "\e96b";
}
.ei-icon--gift:before {
  content: "\e96c";
}
.ei-icon--git-branch:before {
  content: "\e96d";
}
.ei-icon--git-commit:before {
  content: "\e96e";
}
.ei-icon--git-merge:before {
  content: "\e96f";
}
.ei-icon--git-pull-request:before {
  content: "\e970";
}
.ei-icon--github:before {
  content: "\e971";
}
.ei-icon--gitlab:before {
  content: "\e972";
}
.ei-icon--globe:before {
  content: "\e973";
}
.ei-icon--grid:before {
  content: "\e974";
}
.ei-icon--hard-drive:before {
  content: "\e975";
}
.ei-icon--hash:before {
  content: "\e976";
}
.ei-icon--headphones:before {
  content: "\e977";
}
.ei-icon--heart:before {
  content: "\e978";
}
.ei-icon--help-circle:before {
  content: "\e979";
}
.ei-icon--home:before {
  content: "\e97a";
}
.ei-icon--image:before {
  content: "\e97b";
}
.ei-icon--inbox:before {
  content: "\e97c";
}
.ei-icon--info:before {
  content: "\e97d";
}
.ei-icon--instagram:before {
  content: "\e97e";
}
.ei-icon--italic:before {
  content: "\e97f";
}
.ei-icon--layers:before {
  content: "\e980";
}
.ei-icon--layout:before {
  content: "\e981";
}
.ei-icon--life-buoy:before {
  content: "\e982";
}
.ei-icon--link-2:before {
  content: "\e983";
}
.ei-icon--link:before {
  content: "\e984";
}
.ei-icon--linkedin:before {
  content: "\e985";
}
.ei-icon--list:before {
  content: "\e986";
}
.ei-icon--loader:before {
  content: "\e987";
}
.ei-icon--lock:before {
  content: "\e988";
}
.ei-icon--log-in:before {
  content: "\e989";
}
.ei-icon--log-out:before {
  content: "\e98a";
}
.ei-icon--mail:before {
  content: "\e98b";
}
.ei-icon--map-pin:before {
  content: "\e98c";
}
.ei-icon--map:before {
  content: "\e98d";
}
.ei-icon--maximize-2:before {
  content: "\e98e";
}
.ei-icon--maximize:before {
  content: "\e98f";
}
.ei-icon--menu:before {
  content: "\e990";
}
.ei-icon--message-circle:before {
  content: "\e991";
}
.ei-icon--message-square:before {
  content: "\e992";
}
.ei-icon--mic-off:before {
  content: "\e993";
}
.ei-icon--mic:before {
  content: "\e994";
}
.ei-icon--minimize-2:before {
  content: "\e995";
}
.ei-icon--minimize:before {
  content: "\e996";
}
.ei-icon--minus-circle:before {
  content: "\e997";
}
.ei-icon--minus-square:before {
  content: "\e998";
}
.ei-icon--minus:before {
  content: "\e999";
}
.ei-icon--monitor:before {
  content: "\e99a";
}
.ei-icon--moon:before {
  content: "\e99b";
}
.ei-icon--more-horizontal:before {
  content: "\e99c";
}
.ei-icon--more-vertical:before {
  content: "\e99d";
}
.ei-icon--move:before {
  content: "\e99e";
}
.ei-icon--music:before {
  content: "\e99f";
}
.ei-icon--navigation-2:before {
  content: "\e9a0";
}
.ei-icon--navigation:before {
  content: "\e9a1";
}
.ei-icon--octagon:before {
  content: "\e9a2";
}
.ei-icon--package:before {
  content: "\e9a3";
}
.ei-icon--paperclip:before {
  content: "\e9a4";
}
.ei-icon--pause-circle:before {
  content: "\e9a5";
}
.ei-icon--pause:before {
  content: "\e9a6";
}
.ei-icon--percent:before {
  content: "\e9a7";
}
.ei-icon--phone-call:before {
  content: "\e9a8";
}
.ei-icon--phone-forwarded:before {
  content: "\e9a9";
}
.ei-icon--phone-incoming:before {
  content: "\e9aa";
}
.ei-icon--phone-missed:before {
  content: "\e9ab";
}
.ei-icon--phone-off:before {
  content: "\e9ac";
}
.ei-icon--phone-outgoing:before {
  content: "\e9ad";
}
.ei-icon--phone:before {
  content: "\e9ae";
}
.ei-icon--pie-chart:before {
  content: "\e9af";
}
.ei-icon--play-circle:before {
  content: "\e9b0";
}
.ei-icon--play:before {
  content: "\e9b1";
}
.ei-icon--plus-circle:before {
  content: "\e9b2";
}
.ei-icon--plus-square:before {
  content: "\e9b3";
}
.ei-icon--plus:before {
  content: "\e9b4";
}
.ei-icon--pocket:before {
  content: "\e9b5";
}
.ei-icon--power:before {
  content: "\e9b6";
}
.ei-icon--printer:before {
  content: "\e9b7";
}
.ei-icon--radio:before {
  content: "\e9b8";
}
.ei-icon--refrerd-ccw:before {
  content: "\e9b9";
}
.ei-icon--refrerd-cw:before {
  content: "\e9ba";
}
.ei-icon--repeat:before {
  content: "\e9bb";
}
.ei-icon--rewind:before {
  content: "\e9bc";
}
.ei-icon--rotate-ccw:before {
  content: "\e9bd";
}
.ei-icon--rotate-cw:before {
  content: "\e9be";
}
.ei-icon--rss:before {
  content: "\e9bf";
}
.ei-icon--save:before {
  content: "\e9c0";
}
.ei-icon--scissors:before {
  content: "\e9c1";
}
.ei-icon--search:before {
  content: "\e9c2";
}
.ei-icon--send:before {
  content: "\e9c3";
}
.ei-icon--server:before {
  content: "\e9c4";
}
.ei-icon--settings:before {
  content: "\e9c5";
}
.ei-icon--share-2:before {
  content: "\e9c6";
}
.ei-icon--share:before {
  content: "\e9c7";
}
.ei-icon--shield-off:before {
  content: "\e9c8";
}
.ei-icon--shield:before {
  content: "\e9c9";
}
.ei-icon--shopping-bag:before {
  content: "\e9ca";
}
.ei-icon--shopping-cart:before {
  content: "\e9cb";
}
.ei-icon--shuffle:before {
  content: "\e9cc";
}
.ei-icon--sidebar:before {
  content: "\e9cd";
}
.ei-icon--skip-back:before {
  content: "\e9ce";
}
.ei-icon--skip-forward:before {
  content: "\e9cf";
}
.ei-icon--slack:before {
  content: "\e9d0";
}
.ei-icon--slash:before {
  content: "\e9d1";
}
.ei-icon--sliders:before {
  content: "\e9d2";
}
.ei-icon--smartphone:before {
  content: "\e9d3";
}
.ei-icon--speaker:before {
  content: "\e9d4";
}
.ei-icon--square:before {
  content: "\e9d5";
}
.ei-icon--star:before {
  content: "\e9d6";
}
.ei-icon--stop-circle:before {
  content: "\e9d7";
}
.ei-icon--sun:before {
  content: "\e9d8";
}
.ei-icon--sunrise:before {
  content: "\e9d9";
}
.ei-icon--sunset:before {
  content: "\e9da";
}
.ei-icon--tablet:before {
  content: "\e9db";
}
.ei-icon--tag:before {
  content: "\e9dc";
}
.ei-icon--target:before {
  content: "\e9dd";
}
.ei-icon--terminal:before {
  content: "\e9de";
}
.ei-icon--thermometer:before {
  content: "\e9df";
}
.ei-icon--thumbs-down:before {
  content: "\e9e0";
}
.ei-icon--thumbs-up:before {
  content: "\e9e1";
}
.ei-icon--toggle-left:before {
  content: "\e9e2";
}
.ei-icon--toggle-right:before {
  content: "\e9e3";
}
.ei-icon--trash-2:before {
  content: "\e9e4";
}
.ei-icon--trash:before {
  content: "\e9e5";
}
.ei-icon--trending-down:before {
  content: "\e9e6";
}
.ei-icon--trending-up:before {
  content: "\e9e7";
}
.ei-icon--triangle:before {
  content: "\e9e8";
}
.ei-icon--truck:before {
  content: "\e9e9";
}
.ei-icon--tv:before {
  content: "\e9ea";
}
.ei-icon--twitter:before {
  content: "\e9eb";
}
.ei-icon--type:before {
  content: "\e9ec";
}
.ei-icon--umbrella:before {
  content: "\e9ed";
}
.ei-icon--underline:before {
  content: "\e9ee";
}
.ei-icon--unlock:before {
  content: "\e9ef";
}
.ei-icon--upload-cloud:before {
  content: "\e9f0";
}
.ei-icon--upload:before {
  content: "\e9f1";
}
.ei-icon--user-check:before {
  content: "\e9f2";
}
.ei-icon--user-minus:before {
  content: "\e9f3";
}
.ei-icon--user-plus:before {
  content: "\e9f4";
}
.ei-icon--user-x:before {
  content: "\e9f5";
}
.ei-icon--user:before {
  content: "\e9f6";
}
.ei-icon--users:before {
  content: "\e9f7";
}
.ei-icon--video-off:before {
  content: "\e9f8";
}
.ei-icon--video:before {
  content: "\e9f9";
}
.ei-icon--voicemail:before {
  content: "\e9fa";
}
.ei-icon--volume-1:before {
  content: "\e9fb";
}
.ei-icon--volume-2:before {
  content: "\e9fc";
}
.ei-icon--volume-x:before {
  content: "\e9fd";
}
.ei-icon--volume:before {
  content: "\e9fe";
}
.ei-icon--watch:before {
  content: "\e9ff";
}
.ei-icon--wifi-off:before {
  content: "\ea00";
}
.ei-icon--wifi:before {
  content: "\ea01";
}
.ei-icon--wind:before {
  content: "\ea02";
}
.ei-icon--x-circle:before {
  content: "\ea03";
}
.ei-icon--x-square:before {
  content: "\ea04";
}
.ei-icon--x:before {
  content: "\ea05";
}
.ei-icon--youtube:before {
  content: "\ea06";
}
.ei-icon--zap:before {
  content: "\ea08";
}
.ei-icon--zap-off:before {
  content: "\ea07";
}
.ei-icon--zoom-in:before {
  content: "\ea09";
}
.ei-icon--zoom-out:before {
  content: "\ea0a";
}
