@import 'ei-base';
@import 'ei-icons';
@import 'ei-typography';


body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
}
